.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para el cuerpo del popup de confirmación */
.confirm-popup {
  background-color: #fff; /* Color de fondo */
  color: #333; /* Color del texto */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilos para los botones del popup */
.confirm-popup button {
  padding: 10px 20px; /* Espaciado dentro del botón */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
}

.confirm-popup button.primary {
  background-color: #007bff; /* Color de fondo para el botón principal */
  color: #fff; /* Color del texto para el botón principal */
}

.confirm-popup button.secondary {
  background-color: #ccc; /* Color de fondo para el botón secundario */
  color: #333; /* Color del texto para el botón secundario */
}

/* Estilos adicionales según sea necesario */

